<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>HELLO There! I'M</p>
        <h1>Elizabeth<br> Adhiambo</h1>
        <br>
        <h5>FULLSTACK|SOFTWARE DEVELOPER</h5>
        <br>
        <p>I love building things for the web with both frontend and backend development skills <br>based in Nairobi</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Hire Me</a>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <img src="../../assets/landing img.jpg">
      </div>
      
    </div>