<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="hey">HELLO There! I'M</p>
        <h1 class="name">Elizabeth Adhiambo .</h1>
        <br>
        <h5 class="hey">A Full stack Software Developer based in Nairobi, Kenya.</h5>
        <br>
        <p></p>
        <a class="btn btn-warning btn-lg" href="#contact" role="button">Hire Me</a>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <img class="image-fluid" src="../../assets/landing img.jpg">
      </div>
      
    </div>