<br>
<br>
<br>
<div class="container" id="about">
    <div class="row align-items-start">
      <div class="col">
        <div id="tv"> <img src="../../assets/my image.jpg" style="height:300px"></div>
        <br>
      </div>
      <div class="col">
        <p id="about">who I am</p>
        <hr class="line">
        <h4 class="name">About me</h4>
        <p class="hey">I’m a professional and talented Fullstack developer . I am passionate about leveraging my diverse backgrounds to decipher challenging problems and create delightful user experiences. </p>
        <p class="hey">I develop websites with Django and Flask Frameworks for backend development and Angular framework for Fronend Development. I also have top skills in using design softwares like Figma</p>
        <p class="hey">Being a diligent, hardworking and result oriented lady, I always work towards achieving best result on each project I lay my hands on.</p>
        <a class="btn btn-warning" href="https://drive.google.com/file/d/1fw2mgfp47pu0q5qlGI-sEdJEi5IFFlsj/view?usp=sharing" role="button">Download CV</a>
      </div>
      
    </div>
</div>