body {background-color: #ddd; margin: 3rem;}

#tv {
  position: relative;
  width: 350px;
  height: 450px;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
  box-shadow: 20px 20px rgba(255, 175, 3, 0.15);
  transition: all .4s ease;
}
#tv:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(236, 196, 17, 0.25);
}


.line{
  color:#FFA900;
  height:10px;
}
.hey{
    
  font-family: 'Lexend', sans-serif;
  
}

.name{
  font-family: 'Boogaloo', cursive;
  font-size: 70px;
}