<p class="text-center">contact Me </p>
<h4 class="text-center">Get in Touch</h4>
<p class="text-center">I am available to work on your projects and bring your ideas to life. I am just a click away.</p>


<div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
    <div class="col">One of three columns</div>
    <div class="col">
        <i class="fab fa-whatsapp"></i>
        <br>
        <i class="fas fa-envelope-square"></i>
    </div>
    <div class="col">One of three columns</div>
  </div>