
.input{
    border:2px solid black;
    border-width: 2px;
}
img{
    border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
}


.hey{
    
    font-family: 'Lexend', sans-serif;
    
  }
  
  .name{
      font-family: 'Boogaloo', cursive;
      font-size: 70px;
  }
  .namey{
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
  }
