
<br>
<br>
<br>
<br>
<br>



<h6 class="text-center hey">what I have done</h6>
<h3 class="text-center name">My projects</h3>
<div class="container">
    <div class="d-flex align-items-start  mb-3" style="height: 100px;">
        <div class="col ">
            <div class="containerdd">
                <div class="carddd">
                  <div class="front">
                    <div class="text-dark"> 
                        <h6>Hood project</h6>
                        <img src="../../assets/hood.png" style="height:100px">
                    </div>
                  </div>
                  <div class="back">
                    <h4 class="text-dark">Description</h4>
                    <p class="text-dark">A web application that allows you to be in the loop about everything happening in your neighborhood. From contact information of different handyman to meeting announcements or even alerts</p>
                    <div class="d-flex align-items-start  mb-3" style="height: 100px;">
                        <div class="col"><a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></div>
                        <div class="col"><a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a></div>
                        
                      </div>
                      
                      
                      
                  </div>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="containerdd">
                <div class="carddd">
                  <div class="front">
                    <div class="text-dark">
                        <h6>Awwards project</h6>
                        <img src="../../assets/awards1.png" style="height:100px">
                    </div>
                  </div>
                  <div class="back">
                    <h4 class="text-dark">Description</h4>
                    <p class="text-dark">This is a clone of the popular awwards app.Users can view listed projects,login to rate on posted projects and edit their profiles.</p>
                    <ul>
                        <li> <a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></li>
                        <br>
                        <a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a>
                      
                      </ul>
                  </div>
                </div>
                
            </div>

        </div>
        <div class="col">
            <div class="containerdd">
                <div class="carddd">
                  <div class="front">
                    <div class="text-dark">
                        <h6>Galleria project</h6>
                        <img src="../../assets/screenshot1.png" style="height:100px">
                    </div>
                  </div>
                  <div class="back">
                    <h4 class="text-dark">Description</h4>
                    <p class="text-dark">This is a  gallery where users can view different Images ,click on them to have a modal view of the picture. Users can also view the images description and search photos based on the categories and location the images were taken.</p>
                    <ul>
                        <li> <a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></li>
                        <br>
                        <a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a>
                      </ul>
                  </div>
                </div>
                
            </div>
        </div>
      </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>