
<br>
<br>
<br>
<br>
<br>



<h6 class="text-center hey">what I have done</h6>
<h3 class="text-center name">My projects</h3>



<div class="container" id="projects">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="../../assets/hood.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row align-items-start  mb-3" style="height: 100px;">

              <div class="col"><a class="btn btn-warning btn-lg" href="https://the-hoodliz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></div>
              <div class="col"><a class="btn btn-warning btn-lg" href="https://github.com/Liz2222/the-hood" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a></div>
              
          </div> 
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark namey">Hood project</h5>
          <p class="text-dark hey">A web application that allows you to be in the loop about everything happening in your neighborhood. From contact information of different handyman to meeting announcements or even alerts

          </p>
          
                    <div class="d-flex align-items-start  mb-3" >
                      <div class="col">
                        <img src="../../assets/django.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/html.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/heroku.png"style='height:50px'>
                      </div>
                    </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="../../assets/awards1.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row align-items-start  mb-3" style="height: 100px;">

              <div class="col"><a class="btn btn-warning btn-lg" href="https://awards-liz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></div>
              <div class="col"><a class="btn btn-warning btn-lg" href="https://github.com/Liz2222/awwards" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a></div>
              
          </div> 
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark namey">Awards project</h5>
          <p class="text-dark hey" >This is a clone of the popular awwards app.Users can view listed projects,login to rate on posted projects and edit their profiles.

          </p>
          
                    <div class="d-flex align-items-start  mb-3" >
                      <div class="col">
                        <img src="../../assets/django.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/html.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/heroku.png"style='height:50px'>
                      </div>
                    </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="../../assets/screenshot1.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row align-items-start  mb-3" style="height: 100px;">

              <div class="col"><a class="btn btn-warning btn-lg" href="https://galleria-liz.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></div>
              <div class="col"><a class="btn btn-warning btn-lg" href="https://github.com/Liz2222/galleria" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a></div>
              
          </div> 
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark namey">Galleria project</h5>
          <p class="text-dark hey">This is a  gallery where users can view different Images ,click on them to have a modal view of the picture. Users can also view the images description and search photos based on the categories and location the images were taken.

          </p>
          
                    <div class="d-flex align-items-start  mb-3" >
                      <div class="col">
                        <img src="../../assets/django.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/html.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/heroku.png"style='height:50px'>
                      </div>
                    </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="../../assets/quotes.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row align-items-start  mb-3" style="height: 100px;">

              <div class="col"><a class="btn btn-warning btn-lg" href="https://liz2222.github.io/angular-wk1-quotes/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></div>
              <div class="col"><a class="btn btn-warning btn-lg" href="https://github.com/Liz2222/angular-wk1-quotes" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a></div>
              
          </div> 
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark namey">Quotes App</h5>
          <p class="text-dark hey" >This is an app that gives users the ability to view quotes and an option to add their quotes to the app.

          </p>
          
                    <div class="d-flex align-items-start  mb-3" >
                      <div class="col">
                        <img src="../../assets/angular.jpg"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/html.png"style='height:50px'>
                      </div>
                      <div class="col">
                        
                      </div>
                    </div>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100 bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="../../assets/news.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row align-items-start  mb-3" style="height: 100px;">

              <div class="col"><a class="btn btn-warning btn-lg" href="https://liz-worldnews.herokuapp.com/" role="button" target="_blank" rel="noopener noreferrer">Live link</a></div>
              <div class="col"><a class="btn btn-warning btn-lg" href="https://github.com/Liz2222/NewsApi-App" role="button" target="_blank" rel="noopener noreferrer">Github Repo</a></div>
              
          </div> 
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title text-dark namey">News App</h5>
          <p class="text-dark hey" >This is a web application that uses NEWSAPI to fetch news articles from various sources and in different categories as well. The app is built on Flask framework.

          </p>
          
                    <div class="d-flex align-items-start  mb-3" >
                      <div class="col">
                        <img src="../../assets/flask.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/html.png"style='height:50px'>
                      </div>
                      <div class="col">
                        <img src="../../assets/heroku.png"style='height:50px'>
                      </div>
                    </div>
        </div>
      </div>
    </div>
   
    
  </div>
</div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>