

/* the services section */

  .testimotionals {
  width:300px;
   display:inline-block;
    margin-left:50px;
    margin-top:50px
    
  }
  
  
  .testimotionals .carde {
    
    position:relative;
    overflow:hidden;
    width:300px;
    margin:0 auto;
    background:#333;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 10px 40px rgba(0,0,0,.5)
  }
  .testimotionals .carde .layer {
    z-index:1;
    position:absolute;
    top:calc(100% - 2px);
    height:100%;
    width:100%;
    left:0;
    background:linear-gradient(to left , orange, tomato);
    transition:0.5s;
    
  }
  
  .testimotionals .carde .content {
    z-index:2; 
    position:relative;
  }
  
  .testimotionals .carde:hover  .layer{
    top:0;
  }
  
  .testimotionals .carde .content p {
    font-size:14px;
    line-height:24px;
    color:#fff;
    
  }
  .testimotionals .carde .content .image {
    width:100px; height:100px;
    margin:0 auto;
    
    overflow:hidden;
    border: 4px solid white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    
  }
  
  .testimotionals .carde .conte nt .details h2 {
  font-size:18px;
  color:white;
  }
  .testimotionals .carde .content .details h2 span {
  font-size:18px;
  color:purple;
    transition:0.5s;
  }
  .testimotionals .carde:hover .content .details h2 span {
    color:white;
    position:relative
  }
  
  body{
    margin-bottom:20px
  }