<br>
<p class="text-center hey">What I do</p>


<h3 class="text-center name">My Skills</h3>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row align-items-start mb-3" >
    <div class="col">
      <p class="mt-3 abtm hey">Through my studies and practice, I've gained a good understanding of web development concepts. Here are a few technologies i've been working with recently: </p>
      <div class="row abtm">
        <div class="col hey">
          <ul>
            
            <li>Javascript ES6</li>
            <li>PostgreSQL</li>
            <li>Agile Development</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Angular</li>
            <li>HTML5 & CSS3</li>
            <li>Git Version Control</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>Python Django</li>
            <li>Python Flask</li>
            <li>Figma</li>
            <li>REST API</li>
          </ul>
        </div>
      </div>
      <p class="abtm">Currently learning: </p>
      <div class="row abtm">
        <div class="col">
          <ul>
            <li>React</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="image-fluid" src="../../assets/Group 1.png">
    </div>
    
  </div>
</div>


<br>

<p class="text-center hey">Work Flow</p>
<h3 class="text-center name">My Work Process</h3>
<br>
<div class="container">
    <div class="row align-items-start">
      <div class="col text-dark hey">
        <div class="card text-dark" style="width: 12rem;">
            <div class="card-body">
              <h5 class="card-title text-dark">Discover</h5>
              <p class="card-text text-dark">
                I conduct user research to identify the problem I want to solve.</p>
              
            </div>
        </div>
        
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
            <div class="card-body hey">
              <h5 class="card-title text-dark">Define</h5>
              <p class="card-text text-dark">I brainstorm possible design solutions to the identified problem.</p>
              
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
            <div class="card-body hey">
              <h5 class="card-title text-dark">Ideate</h5>
              <p class="card-text text-dark">I create wireframes and sketches of the product I’m about to design.</p>
              
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
            <div class="card-body hey">
              <h5 class="card-title text-dark">Prototype</h5>
              <p class="card-text text-dark">I create high fidelity design and prototype the screens.</p>
              
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem;">
            <div class="card-body hey">
              <h5 class="card-title text-dark">Implement</h5>
              <p class="card-text text-dark">After designing, I deliver and implement to clients satisfaction</p>
              
            </div>
        </div>
      </div>
    </div>
</div>















