<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <p class="name">Thank you!
            <br>
            
        </p>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <img class="image-fluid" src="../../assets/landing img.jpg">
      </div>
      
    </div>
